@font-face {
    font-family: 'SBL';
    src: url('../SBL_Hbrw.ttf');
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(70, 54, 45);
    display: flex;
    justify-content: center;
}

hr {
    height: 1px;
    border-width: 0;
    background-color: rgb(161, 130, 112)
}

.container {
    margin-top: 60px;
    height: 7800px;
    width: 90%;
    max-width: 1100px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.scroll-top,
.scroll-body,
.scroll-bottom,
.content {
    width: 100%;
    max-width: 1100px;
    background-size: contain;
}

.scroll-top {
    width: 100%;
    aspect-ratio: 1100 / 360;
    background-image: url(../scroll_top_bk.png);
}

.scroll-body {
    background-image: url(../scroll_body_bk.png);
    background-repeat: repeat-y;
    background-size: 100%;
    width: 100%;
    min-height: 300px;
}

.scroll-bottom {
    width: 100%;
    aspect-ratio: 1100 / 360;
    background-image: url(../scroll_bottom_bk.png);
    position: relative;
}

.content {
    position: absolute;
    display: flex;
    justify-content: center;
    padding-top: 190px;
    width: 100%;
    height: auto;
}

.divo {
    width: 80%;
    direction: rtl;
    font-size: 35px;
    line-height: 40px;
    font-family: 'SBL', sans-serif;
}

.title {
    text-align: center;
    font-size: 60px;
    margin-top: 10px;
}

.par {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 35px;
}

.perek {
    text-align: center;
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.y-q, .a-q, .r-q, .s-q, .i-q, .p-q{
    padding: 10px;
    width: fit-content;
}

.y-q {
    background-color: rgba(135, 191, 199, 0.5);
}

.a-q {
    background-color: rgba(122, 179, 122, 0.5);
}

.r-q {
    background-color: rgba(192, 63, 63, 0.5);
}

.s-q {
    background-color: rgba(252, 195, 37, 0.473);
}

.i-q {
    background-color: rgba(218, 218, 218, 0.603);
}

.p-q {
    background-color: rgba(180, 129, 169, 0.603);
}

.close-top {
    margin-bottom: 10px;
}

.close-bottom {
    margin-top: 10px;
}

.small-space {
    height: 20px;
    width: fit-content;
}

.two-columns {
    display: flex;
}

.verses {
    flex: 1;
    max-width: 100%;
    overflow: hidden;
}

.index {
    width: 35px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.indise {
    margin-top: 8px;
}

.number-tag {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    color: rgb(32, 32, 32);
    margin: 0;
}

.contenteditable {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    min-height: 300px;
    font-size: 30px;
    border: solid 1px black;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    box-sizing: border-box;
}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }

    .index {
        width: 25px;
    }

    .divo {
        font-size: 30px;
    }

    p {
        margin-top: 17px;
        margin-bottom: 17px;
    }

    .title {
        font-size: 45px;
        margin-top: 10px;
    }

    .par {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .perek {
        font-size: 45px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .number-tag {
        font-size: 13px;
    }
}